{% extends "base.html" %}
{% import "_team_macros.html" as team_macros %}

{% block title %}Dames - Handbal Sint-Truiden{% endblock %}

{% block content %}
<section class="section club-accordion">
    <details class="club-accordion-item">
        <summary>Dames 1 &amp; Beloften</summary>
        <div class="club-accordion-body">
            {{ team_macros.team_photo(team_1_beloften, "Ploegfoto Dames 1 & Beloften") }}
            {{ team_macros.team_achievements(team_1_beloften, europees=true) }}
        </div>
    </details>

    <details class="club-accordion-item">
        <summary>Dames Regio</summary>
        <div class="club-accordion-body">
            {{ team_macros.team_photo(team_regio, "Ploegfoto Dames Regio") }}
            {{ team_macros.team_achievements(team_regio, europees=false) }}
        </div>
    </details>
</section>
{% endblock %}
